<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/Karthikgouda15" class="git"><i class="fa-brands fa-github"></i></a>
      <a href="https://instagram.com" class="insta"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/karthikgouda15/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="f-info-brand">
      © 2024 Karthik — AirBnb| All Rights Reserved
    </div>

    <div class="f-info-links">
      <a href="/privacy">Privacy Policy</a>
      <span>|</span>
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>